<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WestpacPractical.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WestpacPractical.Settings1>
            <setting name="browser" serializeAs="String">
                <value>Chrome</value>
            </setting>
            <setting name="baseURL" serializeAs="String">
                <value>http://www.westpac.co.nz/</value>
            </setting>
        </WestpacPractical.Settings1>
    </userSettings>
</configuration>